.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px;
  background-color: #b3b4a7;
  border-bottom: 1px solid #ccc;
  color: black;
}

.CryptoTable {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  padding: 20px;
}

.Paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.CryptoDetail {
  max-width: 100%;
  width: 100%;
  padding: 20px;
}
